---
import McAffe from "../components/icons/McAffe.astro";
import Norton from "../components/icons/Norton.astro";
import Layout from "../layouts/Layout.astro";
import TickCircle from "../components/icons/TickCircle.astro";
import Step from "../components/Step.astro";
import NumberCircle from "../components/icons/NumberCircle.astro";
import Stars from "../components/icons/Stars.astro";
import Star from "../components/icons/Star.astro";
import Verified from "../components/icons/Verified.astro";
import Dot from "../components/icons/Dot.astro";
import BlueTick from "../components/icons/BlueTick.astro";
import PercentageCircle from "../components/icons/PercentageCircle.astro";
import ArrowRight from "../components/icons/ArrowRight.astro";
import Lock2 from "../components/icons/Lock2.astro";
import VisaIcon from "../components/icons/VisaIcon.astro";
import ShopPayIcon from "../components/icons/ShopPayIcon.astro";
import PayPalIcon from "../components/icons/PayPalIcon.astro";
import MasterCardIcon from "../components/icons/MasterCardIcon.astro";
import GooglePayIcon from "../components/icons/GooglePayIcon.astro"; 
import ApplePayIcon from "../components/icons/ApplePayIcon.astro";
import AmexIcon from "../components/icons/AmexIcon.astro";
---

<Layout title="Clarifion Upsell">
  <section
    class="flex justify-between w-full py-[1.875rem] px-[7.9375rem] items-center z-10 absolute top-[50px]"
  >
    <img class="w-[12rem] h-9" src="/clarifion.png" alt="" />
    <div class="flex gap-8">
      <McAffe />
      <Norton />
    </div>
  </section>
  <div
    class="w-[636px] h-[76px] left-[432.50px] top-[135px] absolute flex-col justify-start items-center gap-6 inline-flex"
  >
    <h2 class="text-black text-5xl font-normal capitalize leading-[48px]">
      Wait ! your order in progress.
    </h2>
    <h3 class="text-neutral-600 text-2xl font-normal capitalize leading-normal">
      Lorem ipsum dolor sit amet, consectetur adipiscing
    </h3>
  </div>
  <div
    class="flex absolute top justify-between top-[271px] left-[128px] w-[1245px]"
  >
    <Step text="Step 1 : Cart Review">
      <TickCircle slot="icon" />
    </Step>
    <Step text="Step 2 : Checkout">
      <TickCircle slot="icon" />
    </Step>
    <Step text="Step 3 : Special Offer" bold={true}>
      <NumberCircle slot="icon" text="3" empty={false} />
    </Step>
    <Step text="Step 4 : Confirmation">
      <NumberCircle slot="icon" text="4" empty={true} />
    </Step>
  </div>
  <section
    class="w-[1245px] h-[879px] bg-[#FAFAFA] absolute top-[351px] left-[128px] grid grid-cols-2 gap-x-[40px] p-[40px] rounded-[10px]"
  >
    <div class="col-span-1 flex flex-col gap-[24px]">
      <img
        src="/prod.png"
        alt="Product Image"
        class="w-[575px] h-[591px] rounded-[10px]"
      />
      <div class="flex flex-col p-[24px] bg-[#FFF] gap-[18px] rounded-[10px]">
        <div class="flex items-center gap-[13px]">
          <img
            src="/Avatar.png"
            alt="Avatar Image"
            class="w-12 h-12 rounded-[100px]"
          />
          <div class="flex flex-col">
            <Stars />
            <p class="flex gap-[10px] items-center font-bold">
              Ken T.<span><Verified /></span><span
                class="text-[#5BB59A] font-normal">Verified Customer</span
              >
            </p>
          </div>
        </div>
        <p class="text-neutral-600 text-base font-normal leading-5">
          “As soon as the Clarifions arrived I put one in my bedroom. This was
          late in the afternoon. When I went to the bedroom in the evening it
          smelled clean. When I went to bed I felt I could breathe better.
          Wonderful.”
        </p>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-8">
      <p class="text-[32px] capitalize leading-[38px]">
        <span class="text-blue-500">ONE TIME ONLY</span> special price for 6
        extra Clarifion for only <span class="text-blue-500">$14 each</span>
         ($84.00 total!)
      </p>
      <div class="flex gap-6">
        <div class="w-[134px] h-[134px] rounded-[10px] bg-[#2C7EF8]">
          <img src="/prodmini.png" alt="Small Product Image" />
        </div>
        <div class="flex flex-col flex-1 gap-[15px]">
          <div class="flex justify-between items-center h-4">
            <p class="leading-[28px] text-[20px]">Clarifion Air Ionizer</p>
            <p
              class="flex items-center gap-[10px] text-[#969696] font-[600] capitalize"
            >
              $180<span class="text-blue-500 text-[22px] leading-[30.8px]"
                >$84</span
              >
            </p>
          </div>
          <div class="flex">
            <Star />
            <Star />
            <Star />
            <Star />
            <Star />
          </div>
          <div class="flex gap-4 items-center">
            <Dot />
            <p class="text-[16px] text-[#37465A] font-[300] leading-snug">
              12 left in Stock
            </p>
          </div>
          <p
            class="text-[#4D5254] text-[16px] font-normal leading-[17px]"
          >
            Simply plug a Clarifion into any standard outlet and replace bulky,
            expensive air purifiers with a simple.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-[12px] h-[22px]">
          <BlueTick />
          <p class="text-[#4D5254] text-base leading-[25.6px]">
             Negative Ion Technology may <span class="font-bold"
              >help with allergens
            </span>
          </p>
        </div>
        <div class="flex items-center gap-[12px] h-[22px]">
          <BlueTick />
          <p class="text-[#4D5254] text-base leading-[25.6px]">
             Designed for air <span class="font-bold">rejuvenation</span>
          </p>
        </div>
        <div class="flex items-center gap-[12px] h-[22px]">
          <BlueTick />
          <p class="text-[#4D5254] text-base leading-[25.6px]">
            <span class="font-bold">Perfect for every room</span> in all types of places.
          </p>
        </div>
      </div>
      <div class="flex items-center gap-4 px-4 py-3 bg-[#EDF3FD] rounded-[10px]">
        <PercentageCircle/>
        <p class="leading-[22.4px]">Save <span class="text-blue-500">53%</span> and get <span class="text-blue-500">6 extra Clarifision</span> for only <span class="text-blue-500">$14 Each</span>.</p>
      </div>
      <div class="flex flex-col">
        <button class="uppercase bg-[#59AE43] py-4 px-16 rounded-[50px] flex justify-center items-center content-stretch text-white gap-[10px] font-bold mb-3">
          Yes - Claim my discount <ArrowRight/>
        </button>
        <div class="flex gap-4 items-center justify-center content-stretch py-2 px-4 rounded-[4px] border border-[#CFCFCF] text-xs leading-[18px] capitalize mb-[20px] text-[#4D5254]">
          <p>Free shipping</p>
          <span class="border border-[#CFCFCF] h-4"></span>
          <p class="flex items-center gap-[10px]"><Lock2 class="w-3 h-3"/>Secure 256-bit SSL encryption.</p>
          <span class="border border-[#CFCFCF] h-4"></span>
          <div class="flex items-center gap-[2px]">
            <VisaIcon/>
            <img src="/shoppay.svg" alt="">
            <PayPalIcon/>
            <MasterCardIcon/>
            <GooglePayIcon/>
            <ApplePayIcon/>
            <AmexIcon/>
          </div>
        </div>
        <p class="text-[#F82C2C] font-[500] text-[18px] underline uppercase text-center leading-6">No thanks, I don’t want this.</p>
      </div>
      <div class="flex gap-4 items-center">
        <img class="w-[88px] h-[88px]" src="/satisfaction.png" alt="100% Guarantee Logo">
        <p class="text-[#4D5254] leading-[1.225]">If you are not completely thrilled with your Clarifion - We have a <span class="font-bold">30 day satisfaction guarantee</span>. Please refer to our return policy at the bottom of the page for more details. Happy Shopping!</p>
      </div>
    </div>
  </section>
</Layout>
