---
import Lock from "./icons/Lock.astro";
---

<footer class="p-5 bg-slate-800 flex-col justify-start items-center gap-4 inline-flex">
    <div class="py-2 rounded justify-start items-center gap-3 inline-flex">
        <p class="text-white text-xs font-normal capitalize leading-none">Copyright (c) 2023</p>
        <span class="h-[14px] w-0 border border-white"></span>
        <p class="text-white text-xs font-normal lowercase leading-none">Clarifionsupport@clarifion.com</p>
    </div>
    <div class="justify-start items-center gap-4 inline-flex">
        <Lock device="mobile"/>
        <p class="text-center text-white text-xs capitalize leading-[18px]">Secure 256-bit SSL encryption.</p>
    </div>
</footer>