---
import Lock from "./icons/Lock.astro";
---
<footer class="flex w-[1500px] absolute top-[1291px] bg-[#252F3D] justify-end items-center py-[24px] pl-[125px] pr-[117px] gap-[592px]">
    <p class="text-[#FFF] font-primary font-base font-normal leading-[22px] flex items-center gap-4"><span class="capitalize">Copyright (c) 2023</span><span class="h-[1.5rem] w-[0.0625rem] border"></span><span class="lowercase">Clarifionsupport@clarifion.com</span></p>
    <p class="text-[#FFF] font-primary font-base font-normal leading-[12px] text-center flex items-center gap-4"><Lock/><span class="capitalize">Secure 256-bit SSL encryption.</span></p>
</footer>

