---
const { device } = Astro.props;
const sizeCircle = device === "mobile" ? "w-5 h-5" : "w-10 h-10";
const tickStyle = device === "mobile" ? "w-[13px] h-[9px] absolute z-10" : "w-6 h-[18px] absolute z-10";
---

<div class="flex items-center justify-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class={sizeCircle}
    viewBox="0 0 40 40"
    fill="none"
  >
    <circle
      cx="20"
      cy="20"
      r="19"
      fill="#85BF55"
      stroke="#85BF55"
      stroke-width="2"></circle>
  </svg>
  <svg
    class={tickStyle}
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 18"
    fill="none"
  >
    <path
      d="M1.99977 9L8.65859 16L21.9998 2"
      stroke="white"
      stroke-width="2.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</div>
